.anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 47px 5px 10px;
  border: 1px solid #1c87c9;
  width: 118px;
}

.anchor::after {
  content: "";
  position: absolute;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.anchor:active::after {
  right: 8px;
  top: 21%;
}

ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

li {
  list-style: none;
}

.dropdown-criteria-list.visible .items {
  display: block;
}