.lightclass {
  background-color: white;
  color: mediumblue;
}

.darkclass {
  background-color: #222;
  color: Gainsboro;
}

.div-top-panel {
  padding: 5px;
  display: grid;
  grid-template-columns: 180px 180px;
  column-gap: 5px;
  row-gap: 5px;
  padding: 10px;
}

#button-upload, #button-darktoggle, #button-displaytable, #textbox-keyword, #select-displayoption  {
  border: 1px solid #1c87c9;
  border-radius: 0px;
  width: 175px;
  height: 26px;
}

#textbox-keyword { /*styling this seperately as its dimensions dont seem to be the same as the other elements*/
  width: 170px;
  height: 23px;
}

td {
  border: 1px solid #1c87c9;
  padding: 5px;
  vertical-align: top;
}