body {
    background-color: white;
    color: mediumblue;
  }

  .div-top-panel {
    padding: 5px;
    display: grid;
    grid-template-columns: 180px 180px;
    column-gap: 5px;
    row-gap: 5px;
    padding: 10px;
    float: left;
  }

  #button-upload, #button-darktoggle, #button-displaytable, #textbox-keyword, #select-date, #select-location, #select-event, #select-displayoption  {
    border: 1px solid #1c87c9;
    border-radius: 15px;
    width: 175px;
  }

  .lightclass {
    color: mediumblue;
  }

  .darkclass {
    background-color: #222;
    color: Gainsboro;
  }

  td {
    border: 1px solid #1c87c9;
    padding: 5px;
    vertical-align: top;
  }